name: Destroy Infrastructure - Production

on:
  workflow_dispatch:

jobs:
  destroy:
    uses: ./.github/workflows/terraform-infrastructure-deploy.yml
    with:
      action: 'destroy'
      environment: 'prod'
      location: 'westeurope'
      namespace: 'mlopslite'
      postfix: 'rc'
      enable_aml_computecluster: true
      enable_monitoring: false
      backend_resource_group: 'my-tf-state-rg'
      backend_storage_account: 'sttfstateao04'
      backend_container: 'tfstate'
      backend_key: 'mlops-prod.tfstate'
    secrets:
      azure_creds: ${{ secrets.AZURE_CREDENTIALS }}
      arm_client_id: ${{ secrets.ARM_CLIENT_ID }}
      arm_client_secret: ${{ secrets.ARM_CLIENT_SECRET }}
      arm_subscription_id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      arm_tenant_id: ${{ secrets.ARM_TENANT_ID }}
