name: Deploy Infrastructure - Production

on: 
  workflow_dispatch:

jobs:
  terraform-deploy:
    uses: ./.github/workflows/terraform-infrastructure-deploy.yml
    with:
      TFAction: 'apply'
      dply_environment: 'prod'  
      location: 'westus'
      namespace: 'mlopslite'
      postfix: 'ao04'
      environment: 'prod'
      enable_aml_computecluster: true
      enable_monitoring: false
      terraform_version: '0.14.7'
      terraform_workingdir: './infrastructure'
      terraform_st_location: 'westus'
      terraform_st_storage_account: 'stmlopsliteao04prodtf'
      terraform_st_resource_group: 'rg-mlopslite-ao04prod-tf'
      terraform_st_container_name: 'default'
      terraform_st_key: 'mlops-tab'
      terraform_plan_location: 'westus'
      terraform_plan_vnet: "TBD"
    secrets: inherit